apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-llhlsqbm
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-llhlsqbm:066aa4c08a009e5af9751a1626c477092e9f4f0a@sha256:c3240ba027a699f2b086d2d5207dc6ce3ad60793054fb2704a1fefb0dfce51e5
        name: container-image  
